<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina No Encontrada</title>
    <link rel="stylesheet" href="./styles-404.css" />
  </head>

  <body>
    <!-- Header -->
    <header class="header">
      <img
        class="header__img"
        src="./logo-platzi-video-BW2.png"
        alt="logo-platzi-video-BW2"
      />
      <div class="header__menu">
        <div class="header__menu--profile">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <p>Perfil</p>
        </div>
        <ul>
          <li><a href="./components/login.html">Cuenta</a></li>
          <li><a href="/">Cerrar Sesion</a></li>
        </ul>
      </div>
    </header>

    <!-- 404 Animation -->
    <section class="box-404">
      <h1 class="h1 pulse">404</h1>
      <p class="p">Página No Encontrada</p>
    </section>

    <!-- Pie De Página -->
    <footer class="footer">
      <a href="/">Terminos De Uso</a>
      <a href="/">Declaración De Privacidad</a>
      <a href="/">Centro De Ayuda</a>
    </footer>
  </body>
</html>
