<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juancho Video</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <header class="header">
      <img
        class="header__img"
        src="JuanchoVideo/assets/logo-platzi-video-BW2.png"
        alt="logo-platzi-video-BW2"
      />
    </header>
    <section class="login">
      <div class="login__container">
        <h2 class="login__title">Inicia Sesión</h2>
        <form action="" class="login__container--form">
          <input type="text" class="input" placeholder="Correo" required />
          <input
            type="password"
            class="input"
            placeholder="Contraseña"
            required
          />
          <button class="button">Inicia Sesión</button>
          <div class="login__container--rememberme">
            <label>
              <input
                type="checkbox"
                name=""
                id="cbox1"
                value="checkbox"
              />Recuerdame
            </label>
            <a href="/">Olvide mi contraseña</a>
          </div>
        </form>
        <section class="login__container--social-auth">
          <div>
            <img src="./assets/Google.png" alt="Google" />Inicia Sesión con
            Google
          </div>
          <div>
            <img src="./assets/Twitter.png" alt="Twitter" /> Inicia Sesión con
            Google
          </div>
        </section>
        <p class="login__container--registro">
          ¿No tienes ninguna cuenta? <a href="/">Registrate</a>
        </p>
      </div>
    </section>
    <footer class="footer">
      <a href="/">Terminos De Uso</a>
      <a href="/">Declaración De Privacidad</a>
      <a href="/">Centro De Ayuda</a>
    </footer>
  </body>
</html>
